<!DOCTYPE html>
<html>
<head>
	<title>User</title>
  <link th:replace="include/header"></link>
</head>

<body>
    <div class="content">
	<form action="view.jsp" method="POST" name="User" onsubmit="return testpass(this)">
		<div hidden>
		   <input type="text" readonly id="id" name="id" value="<%=user.getId()%>"/>
		</div>
		<div>
		   <label for="name">Nome:</label>
		   <input type="text" id="name" name="name" value="<%=user.getName()%>" />
		</div>
		<div>
		   <label for="name">Cognome:</label>
		   <input type="text" id="cognome" name="cognome" value="<%=user.getCognome()%>" />
		</div>
		<div>
		   <label for="name">Indirizzo email:</label>
		   <input type="text" id="email" name="email" value="<%=user.getEmail()%>" />
		</div>		
		<div>
		   <label for="name">Password:</label>
		   <input type="password" id="password" name="password" value="<%=user.getPassword()%>" />
		   <input type="password" id="conferma_password" name="conferma_password" value="<%=user.getPassword()%>" />
		</div>
						
		<div>
		   <input type="submit" value="Salva" />
		   <input type="submit" value="Edit" />
		</div>
	</form>	
    </div>
</body>
</html>