
<!DOCTYPE html>
<html>
<head>
<title>User</title>
  <link th:replace="include/header"></link>
</head>

<body>
    <div class="content">
	<form action="view.jsp" method="POST" name="User" onsubmit="return testpass(this)">
		<div hidden>
		   <input type="text" readonly id="id" name="id" th:value="${user.getId}"/>
		</div>
		<div>
		   <label for="name">Nome:</label>
		   <input type="text" id="name" name="name" th:value="${user.getName}" />
		</div>
		<div>
		   <label for="name">Cognome:</label>
		   <input type="text" id="cognome" name="cognome"  th:value="${user.getCognome}" />
		</div>
		<div>
		   <label for="name">Indirizzo email:</label>
		   <input type="text" id="email" name="email" th:value="${user.getEmail}" />
		</div>		
		<div>
		   <label for="name">Password:</label>
		   <input type="password" id="password" name="password" th:value="${user.getPassword}" />
		   <input type="password" id="conferma_password" name="conferma_password" th:value=${user.getPassword}" />
		</div>
						
		<div>
		   <input type="submit" value="Salva" />
		   <input type="submit" value="Edit" />
		</div>
	</form>	
    </div>
    <div th:replace="include/footer"></div>
</body>
</html>