<!DOCTYPE html>
<html>
<head>
  <title>Utenti</title>
    <link th:replace="include/header"></link>
</head>
<body>
    <div class="container">
    	<a th:href="@{/admin/user/new}" class="btn btn-primary">Create new</a>
	<table class="table table-striped">
		<tr th:each="user :${users}">
			<td th:text="${user.id}"></td>
			<td><a th:href="'view/'+${user.id}" th:text="${user.email}"></a></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.cognome}"></td>
			<td><a th:href="'edit/'+${user.id}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
			<td>
			  <form th:action="'delete/'+${user.id}" th:id="'deleteForm'+${user.id}" method="post">
			     <a href="#" th:onclick="'document.getElementById(\'deleteForm'+${user.id}+'\').submit()'"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
			     <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			  </form>
			</td>
		</tr>
	</table>
    </div>
    <div th:replace="include/footer"></div>
</body>
</html>