<!DOCTYPE html>
<html>
<head>
<title>User</title>
 <link th:replace="include/header"></link>
</head>
<body>
      <div class="container">
	    	<a href=".." class="btn btn-primary">Back to list</a>
		<div>
		   <span>ID:</span> <span th:text="${user.getId}"></span>
		</div>
		<div>
		   <span>Nome:</span> <span th:text="${user.getName}"></span>
		</div>
		<div>
		   <span>Cognome:</span> <span th:text="${user.getCognome}"></span>
		</div>
		<div>
		   <span>Email:</span> <span th:text="${user.getEmail}"></span>
		</div>
	    </div>
       <div th:replace="include/footer"></div>
</body>
</html>