<!DOCTYPE html>
<html>
<head>
<title>User</title>
 <link th:replace="include/header"></link>
</head>
<body>
		<div th:replace="include/navbar"></div>
      <div class="container">
	    	<a th:href="@{/admin/user/}" class="btn btn-primary">Back to list</a>
		<div class="row">
		   <span>ID:</span> <span th:text="${user.id}"></span>
		</div>
		<div class="row">
		   <span>Nome:</span> <span th:text="${user.name}"></span>
		</div>
		<div class="row">
		   <span>Cognome:</span> <span th:text="${user.cognome}"></span>
		</div>
		<div class="row">
		   <span>Email:</span> <span th:text="${user.email}"></span>
		</div>
		<div class="row">
			<span >Ruoli:</span>
			<div th:each="role, row : ${user.roles}" >
				<span th:text="${role.description}"></span>
			</div>
		</div>
	    </div>
       <div th:replace="include/footer"></div>
</body>
</html>