<!DOCTYPE html>
<html>
	<head>
		<title>Aula</title>
		<link th:replace="include/header"></link>
	</head>
	<body>
		<div th:replace="include/navbar"></div>
	    <div class="container">
	    	<a th:href="@{/admin/aula/}" class="btn btn-primary">Back to list</a>
		<div class="row">
		   <span>ID:</span> <span th:text="${aula.id}"></span>
		</div>
		<div class="row">
		   <span>Nome:</span> <span th:text="${aula.name}"></span>
		</div>
		<div class="row">
		   <span>Descrizione:</span> <span th:text="${aula.description}"></span>
		</div>
	    </div>
	</body>
	<div th:replace="include/footer"></div>
</html>