<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Aula</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	</head>
	<body>
	    <div class="container">
	    	<a href=".." class="btn btn-primary">Back to list</a>
		<div>
		   <span>ID:</span> <span th:text="${aula.id}"></span>
		</div>
		<div>
		   <span>Nome:</span> <span th:text="${aula.name}"></span>
		</div>
		<div>
		   <span>Descrizione:</span> <span th:text="${aula.description}"></span>
		</div>
	    </div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>