<!DOCTYPE html>
<html>
<head>
<title>Prenotazioni</title>
<link th:replace="include/header"></link>
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.css"></link>
<link rel="stylesheet" media="print"
	href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.print.css"></link>


<style>
#attesaPrenotazioni {
  display:none;
	
}
.centered{ text-align:center; } 
</style>

</head>

<body>

	<div th:replace="include/navbar"></div>
	<div class="container">
		<div class="row">
			<div class="centered col-md-12"><img id="attesaPrenotazioni" class="img-responsive"
					src="resources/img/loading-icon.gif" /></div>
			<div class="col-md-12">
				<div id="calendar"></div>
			</div>
		</div>
	</div>

	<div th:replace="prenotazioni/dialog"></div>

	<div th:replace="prenotazioni/view"></div>
	<div th:replace="include/footer"></div>
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/lang/it.js"></script>
	<script th:src="@{/resources/js/calendar.js}" />

</body>
</html>