<!DOCTYPE html>
<html>
<head>
  <title>Prenotazioni</title>
  <link th:replace="include/header"></link>
 <link  rel="stylesheet"  href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.css"></link>
 <link  rel="stylesheet"  media="print" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.print.css"></link>
</head>

<!--  all calendar goes here jv . html. etc...-->
<body>
	<div th:replace="include/navbar"></div>
	<div class="container">
	  	<div class="row">
	  		<div class="col-md-12">
	    		<div id="calendar"></div>
	    	</div>
	    </div>
    </div>
    
    <div th:replace="include/footer"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" ></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/lang/it.js"></script>
  	<script th:src="@{/js/calendar.js}" />
  	
</body>
</html>