<div class="modal fade" tabindex="-1" role="dialog" id="new_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Nuova prenotazione</h4>
			</div>
			<form th:action="@{/prenotazioni/new}" method="POST" role="form">
				<div class="modal-body">
					<div class="form-group">
						<div class="container">

							<div class="input-group">
								<div class="row">
									<div class='col-sm-4'>
										<label>Aula:</label>
									</div>
									<div class='col-sm-8'>
										<div class="form-group">
											<div class='input-group'>
												<select name="aula"><option
														th:each="aula
														: ${aule}"
														th:value="${aula.id}" th:text="${aula.name}">Aula</option></select>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="input-group">
								<div class="row">
									<div class='col-sm-4'>
										<label>Ora d'inizio:</label>
									</div>
									<div class='col-sm-8'>
										<div class="form-group">
											<div class='input-group date' id='startTime'>
												<input type='text' class="form-control" /> <span
													class="input-group-addon"> <span
													class="glyphicon glyphicon-time"></span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="input-group">
								<div class="row">
									<div class='col-sm-4'>
										<label>Ora di fine:</label>
									</div>
									<div class='col-sm-8'>
										<div class="form-group">
											<div class='input-group date' id='endTime'>
												<input type='text' class="form-control" /> <span
													class="input-group-addon"> <span
													class="glyphicon glyphicon-time"></span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="input-group">
								<div class="row">
									<div class='col-sm-4'>
										<label>Data d'inizio:</label>
									</div>
									<div class='col-sm-8'>
										<div class="form-group">
											<div class='input-group date' id="startDateDiv">
												<input type='text' class="form-control" id="startDate" /> <span
													class="input-group-addon"> <span
													class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="input-group">
								<div class="row">
									<div class='col-sm-4'>
										<label>Data di fine:</label>
									</div>
									<div class='col-sm-8'>
										<div class="form-group">
											<div class='input-group date' id="endDateDiv">
												<input type='text' class="form-control" id="endDate" /> <span
													class="input-group-addon"> <span
													class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
					<input type="submit" class="btn btn-primary" value="Salva" />
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->