<!DOCTYPE html>
<html>
<div class="modal fade" tabindex="-1" role="dialog" id="new_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Nuova prenotazione</h4>
			</div>
			<form th:action="@{/prenotazioni/new}" id="form" method="POST"
				role="form">
				<div class="modal-body">
					<div class="form-group">

						<div class="input-group">
							<label>Aula:</label> <input type="text" id="aula" name="aula"
								class="form-group" required="true" />
						</div>

						<div class="input-group">
							<div class="well">
								<div id="startTime" class="input-append">
									<label>Ora d'inizio:</label> <input data-format="hh:mm"
										type="text"></input> <span class="add-on"> <i
										data-time-icon="icon-time" data-date-icon="icon-calendar">
									</i>
									</span>
								</div>
							</div>
						</div>
						
						<div class="input-group">
							<label>Ora di fine:</label> <input type="time" id="startTime"
								class="form-group datepicker" required="true" />
						</div>

						<div class="input-group">
							<label>Data d'inizio:</label> <input type="date" id="startDate"
								class="form-group datepicker" required="true" />
						</div>
						<div class="input-group">
							<label>Data di fine:</label> <input type="date" id="endDate"
								class="form-group datepicker" required="true" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
						<input type="submit" class="btn btn-primary" value="Salva" />
					</div>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</html>