<div class="modal fade" tabindex="-1" role="dialog" id="viewPrenotazione_modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Prenotazione</h4>
			</div>

			<div class="modal-body">

				<div class="row">
					<label class='col-sm-3 col-md-offset-2 control-label'>Aula:</label>
					<div class='col-sm-7'>
						<label id="aula" class="control-label"></label>
					</div>
				</div>

				<div class="row">
					<label class='col-sm-3 col-md-offset-2 control-label'>Ora d'inizio:</label>
					<div class='col-sm-7'>
						<label class="control-label" id='startTime'></label>
					</div>
				</div>

				<div class="row">
					<label class='col-sm-3 col-md-offset-2 control-label'>Ora di fine:</label>
					<div class='col-sm-7'>
						<label class="control-label" id='endTime'></label>
					</div>
				</div>

				<div class="row">
					<label class='col-sm-3 col-md-offset-2 control-label'>Data d'inizio:</label>
					<div class='col-sm-7'>
						<label class="control-label" id='startDate'></label>
					</div>
				</div>

				<div class="row">
					<label class='col-sm-3 col-md-offset-2 control-label'>Data di fine:</label>
					<div class='col-sm-7'>
						<label class="control-label" id='endDate'></label>
					</div>
				</div>

				<div class="row">
					<label class='col-sm-3 col-md-offset-2 control-label'>Contatto:</label>
					<div class='col-sm-7'>
						<a href="" id="sendEmail"></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>