<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
   	version="2.4">
   
   	<display-name>ClassRoom Booking</display-name>
   	
	<servlet>
	  <servlet-name>aulaController</servlet-name>
	  <servlet-class>it.technosphera.booking.classroom.controller.AulaController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>aulaController</servlet-name>
	  <url-pattern>/aula/*</url-pattern>
	</servlet-mapping>

	<servlet>
	  <servlet-name>userController</servlet-name>
	  <servlet-class>it.technosphera.booking.classroom.controller.UserController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>userController</servlet-name>
	  <url-pattern>/user/*</url-pattern>
	</servlet-mapping>
</web-app>