<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
	      	<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</button>
	      	<a class="navbar-brand" th:href="@{/}">Prenotazione Aule</a>
    	</div>
		<div id="navbarCollapse" class="collapse navbar-collapse">
           	<ul class="nav navbar-nav">
				<li sec:authorize="hasRole('ROLE_ADMIN')">
					<a th:href="@{/admin/aula/}">Aule</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')">
					<a th:href="@{/admin/user/}">Utenti</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li sec:authorize="isAnonymous()">
					<a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
				</li>
				<li sec:authorize="isAnonymous()">
					<a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
				</li>
				<li sec:authorize="isAuthenticated()">
        					Benvenuto <span th:text="${#authentication.name}"></span>
    				</li>
				<li sec:authorize="isAuthenticated()">
					<a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
				</li>
			</ul>
		</div>
	</div>
</div>