<div class="modal fade" tabindex="-1" role="dialog"
	id="viewLezione_modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Prenotazione</h4>
			</div>

			<div class="modal-body">

				<div class="form-group">
					<div class='col-sm-2'></div>
					<div class='col-sm-8'>
						<img id="attesa" style="display: none" class="img-responsive"
							src="resources/img/loading-icon.gif" />
					</div>
					<div class='col-sm-2'></div>
				</div>

				<div id="informazioni">
					<div class="form-group">
						<div id="errorDiv" class="alert alert-danger col-sm-12"
							style="display: none">
							<strong><span id="errorMessage">ERRORE</span></strong>
						</div>
					</div>

					<div class="row">
						<label class='col-sm-3 col-md-offset-2 control-label'>Aula:</label>
						<div class='col-sm-7'>
							<label id="aula" class="control-label"></label>
						</div>
					</div>

					<div class="row">
						<label class='col-sm-3 col-md-offset-2 control-label'>Ora
							d'inizio:</label>
						<div class='col-sm-7'>
							<label class="control-label" id='startTime'></label>
						</div>
					</div>

					<div class="row">
						<label class='col-sm-3 col-md-offset-2 control-label'>Ora
							di fine:</label>
						<div class='col-sm-7'>
							<label class="control-label" id='endTime'></label>
						</div>
					</div>

					<div class="row">
						<label class='col-sm-3 col-md-offset-2 control-label'>Data
							d'inizio:</label>
						<div class='col-sm-7'>
							<label class="control-label" id='startDate'></label>
						</div>
					</div>

					<div class="row">
						<label class='col-sm-3 col-md-offset-2 control-label'>Data
							di fine:</label>
						<div class='col-sm-7'>
							<label class="control-label" id='endDate'></label>
						</div>
					</div>

					<div class="row">
						<label class='col-sm-3 col-md-offset-2 control-label'>Titolo:</label>
						<div class='col-sm-7'>
							<label class="control-label" id="titolo"></label>
						</div>
					</div>

					<div class="row">
						<label class='col-sm-3 col-md-offset-2 control-label'>Limite
							iscritti:</label>
						<div class='col-sm-7'>
							<label class="control-label" id='limite'></label>
						</div>
					</div>

					<div class="row">
						<label class='col-sm-3 col-md-offset-2 control-label'>Docente:</label>
						<div class='col-sm-7'>
							<label class="control-label" id='docente'></label>
						</div>
					</div>

					<div class="row">
						<label class='col-sm-3 col-md-offset-2 control-label'>Descrizione:</label>
						<div class='col-sm-7'>
							<label class="control-label" id='descrizione'></label>
						</div>
					</div>

					<div class="row">
						<label class='col-sm-3 col-md-offset-2 control-label'>Contatto:</label>
						<div class='col-sm-7'>
							<a href="" id="sendEmail"></a>
						</div>
					</div>

					<div id="iscrivitiDiv" class="row">
						<div class='col-sm-4'></div>
						<button id="iscriviti" type="button"
							class="btn btn-primary col-sm-4">Iscriviti</button>
						<div class='col-sm-4'></div>
					</div>

					<div id="annullaIscrizioneDiv" class="row" style="display: none">
						<div class='col-sm-4'></div>
						<button id="annullaIscrizione" type="button"
							class="btn btn-danger col-sm-4">Annulla Iscrizione</button>
						<div class='col-sm-4'></div>
					</div>
					<input type="hidden" id="idLezione" value="" />
				</div>
			</div>
		</div>
	</div>
</div>